.listeners-list {
    list-style-type: none;
    margin-top: 5rem;
}

    .listeners-list .selected {
        background: orange;
    }

    .listeners-list .title {
        font-weight: 600;
        padding: 0.1rem 0;
    }

    .listeners-list .details {
        padding-left: 1rem;
    }
